 *{box-sizing: border-box;}
 .shapecontainer {
    background-color: azure;
    border: solid darkblue 1px;
    width: 500px;
    margin: auto;
 }
 .shape, .rectangle, .circle, .square {
    background-color: blueviolet;
    width: 200px;
    height: 200px; 
    margin: 2rem auto;
    color: whitesmoke;
    font-size: 2rem;
    padding: 10%;
 }
 .btnSquare, .btnRectangle, .btnCircle {
    background-color: crimson;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    color: whitesmoke;
    width: 30%;
    margin: 1%;
 }
 .btnSquare:hover, .btnRectangle:hover, .btnCircle:hover {
    font-weight: bolder;
    background-color: darkviolet;
    cursor: pointer;
 }
 .rectangle{
    width: 300px;
     height: 200px;
    background-color: #a00c0c;
 }
 .circle{
    width: 200px;
     height: 200px;
    background-color: #a00c0c; 
    border-radius: 50%;
 }
 .square{
    width: 200px;
    height: 200px;
    background-color: #a00c0c;
 }